body {
    background-color: black;
    color: #6843ce;
    
}

nav {
    background-color: aqua;
    color: #7c3fec;
    border-radius: 20px;
    
}
nav img{
    width: 200px;
    border-radius: 45px;
    
}

